<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(252, 150, 150);">
    <div style="width: 400px; height: 520px; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: aquamarine; margin: auto; border-radius: 10px;">
        <h1>Generated QR</h1>
        <img style="width: 150px; height: 150px;" src=<%=QRUrl%> alt="qrimg">
        <p>Scan this</p>
    </div>
</body>

</html>